@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Manjari&display=swap');

/* Navbar */

@media(min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3,63,71, 0.8), rgba(3,63,71,0.8)), url(../Imagenes/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid var(--color-brand);
        
    }
}

@media(max-width: 950px){

    #content-wrapper{
        padding-left: 0;
    }

    .full-height.px-lg-5{
        min-height: 110vh;
    }

}


@media(max-width: 795px){

    .full-height.px-lg-5{
        min-height: 130vh;
    }
    
    .navbar-brand {

        display: block; 
        text-align: center; 
        width: 100%; 
        margin-bottom: 5px; 
      }
    
      .navbar-toggler {
        margin: auto; 
        display: block; 
      }

        .navbar-collapse {
            max-height: none; 
            text-align: center;
        }

        .navbar-nav {
            padding-top: 10px; 
        }

        .navbar-nav-centered {
            display: inline-block;
            width: auto;
        }

        #content-wrapper{
            padding-left: 0;
        }

        #Habilidades,
        #Proyectos,
        #Experiencia-laboral{
            min-height: 100vh;
        }

        #Contacto,
        #Educacion{
            min-height: 120vh;
        }
}


    @media (max-width: 550px) {
        #Proyectos {
            padding: 10px; 
            min-height: 140vh;
        }

        .col-md-4 {
            flex: 0 0 50%; 
            max-width: 50%; 
            margin-bottom: 20px; 
        }

        .full-height.px-lg-5 {
            min-height: 140vh; 
            }

            .link-custom{
                display: flex;
                margin-top: 30px;
            }
    }



